# Force GitHub to detect ASP.NET (C# or VB.NET)

*.js diff=aspnet
*.css diff=aspnet
*.vb diff=aspnet
*.aspx diff=aspnet
# Optional: Ignore non-ASP.NET files
*.js linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.cpp linguist-detectable=false
*.py linguist-detectable=false
*.config linguist-detectable=false
*.master linguist-detectable=false
